html, body {
 font-family: 'Lato', sans-serif;
}

.tagline {
  font-size: 5em;
  font-weight: heavy;
}
.services {
  font-size: 5em;
  font-weight: heavy;
}
.heroimg {
  position: relative;
  width: 100%;
}

.heroimg--tagline{
  color: white;
  position: absolute;
  top: 2%;
  left: 20%;
  width: 100%;
}

.heroimg--services {
  color: white;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 100%;
}

.intro {
  padding-left: 30px;
  padding-top: 30px;
}
.services {
  margin-top: 80px;
  margin-bottom: 60px;
}
.services-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.services__items {
  font-size: 50px;
}

.tagline {
  margin-top:100px;
  margin-bottom: 100px;
}

.SlantsContainer {
	position: relative;
}

.parent{
  position:relative;
}

.contact-container {
  position: relative;
  width: 100%; /* for IE 6 */
}

.contactinfo {
  position: absolute;
  top: 10%;
  left: 10px;
  width: 100%;
}
.businesshours {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 100%;
}
